
.container {
  padding: 2rem;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.project-card {
  width: 300px;
  transition: box-shadow 0.3s, transform 0.3s;
}

.project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
}

.spinner-container, .error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
