
.about-container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.profile-card {
  max-width: 500px;
}

.profile-avatar {
  background-image: url('https://i.pravatar.cc/150?u=angel');
  background-size: cover;
}

mat-card-actions {
    display: flex;
    justify-content: flex-end;
}
